<div style="display: flex;">
  <!-- Menú Lateral -->
  <nav class="sidebar">
    <h1>Admin-CV</h1>
    <ul>
      <li><a routerLink="/perfil" routerLinkActive="active">Mi Perfil</a></li>
      <li><a routerLink="/workexperience" routerLinkActive="active">Experiencia</a></li>
      <li><a routerLink="/education" routerLinkActive="active">Educación</a></li>
      <li><a routerLink="/certificates" routerLinkActive="active">Certificados</a></li>
      <li><a routerLink="/skills" routerLinkActive="active">Habilidades</a></li>
      <li><a routerLink="/languages" routerLinkActive="active">Idiomas</a></li>
      <li><a routerLink="/interests" routerLinkActive="active">Intereses</a></li>
    </ul>
  </nav>

  <!-- Espacio para las vistas -->
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
